﻿body {
}
#footer
{
     width:100%;
     background-color:#497E3A;
     height:30px;
     text-align:left;
     padding-left:10px;
     clear:both;
     z-index
}
 @font-face {
            font-family: Avenir;
            src: url(avenir-roman.ttf);
        }


.div3
{
    margin-left:20px;
    width:31%;
    height:170px;
    float:left;
    linear-gradient(to bottom right,#ffffff, #ffffff);
    text-align:center;
    font-family:'Avenir';
    font-size:12;
    font-weight:normal;
    padding:3px 3px 3px 3px;
    position:relative;
    /*border-top-style: hidden;
    border-width: medium; 
    border-color: #FFFFFF; 
    border-bottom-style: hidden;*/
    
}
.div3Inner
{
    padding-left:10px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 6px 6px 8px 6px #CFCFCF;
    width:98%;
    height:150px;
    linear-gradient(to bottom right,#EEEEEE, #ffffff, #ffffff, #EEEEEE);
    font-family:'Source Sans Pro', sans-serif;
    padding:5px 3px 3px 3px;
}
.div4
{
    margin-left:0px;
    width:35%;
    height:170px;
    float:left;
    linear-gradient(to bottom right,#ffffff, #ffffff);
    text-align:left;
    font-family:'Avenir';
    font-size:12;
    font-weight:normal;
    padding:3px 3px 3px 3px;
    vertical-align:middle;
    text-align:center;


    
    /*border-top-style: hidden;
    border-width: medium; 
    border-color: #FFFFFF; 
    border-bottom-style: hidden;*/
    
}
.div4Inner
{
    padding: 5px 5px 5px 5px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 6px 6px 8px 6px #CFCFCF;
    width:98%;
    height:150px;
    linear-gradient(to bottom right,#EEEEEE, #ffffff, #ffffff, #EEEEEE);
    font-family:'Source Sans Pro', sans-serif;
     padding:3px 3px 3px 3px;
}
.div5
{
    margin-left:0px;
    width:32%;
    height:170px;
    float:left;
    linear-gradient(to bottom right,#ffffff, #ffffff);
    text-align:left;
    font-family:'Avenir';
    font-size:12;
    font-weight:normal;
   
    /*border-top-style: hidden;
    border-width: medium; 
    border-color: #FFFFFF; 
    border-bottom-style: hidden;*/
    
}
.div5Inner
{
    padding-left:10px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 6px 6px 8px 6px #CFCFCF;
    width:98%;
    height:150px;
    linear-gradient(to bottom right,#EEEEEE, #ffffff, #ffffff, #EEEEEE);
    font-family:'Source Sans Pro', sans-serif;
     padding:10px 3px 3px 3px;
}

.weekdiv
{
    margin-left:20px;
    margin-top:20px;
    width:49.5%;
    height:430px;
    float:left;
    linear-gradient(to bottom right,#ffffff, #ffffff);
    text-align:left;
    font-family:'Avenir';
    font-size:12;
    font-weight:normal;
   
    /*border-top-style: hidden;
    border-width: medium; 
    border-color: #FFFFFF; 
    border-bottom-style: hidden;*/
    
}
.weekdivInner
{
    padding-left:10px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 6px 6px 8px 6px #CFCFCF;
    width:98%;
    height:430px;
    linear-gradient(to bottom right,#EEEEEE, #ffffff, #ffffff, #EEEEEE);
    font-family:'Source Sans Pro', sans-serif;
     padding:10px 3px 3px 3px;
 
}

.commentdiv
{
    margin-left:0px;
    margin-top:20px;
    width:49%;
    height:400px;
    float:left;
    linear-gradient(to bottom right,#ffffff, #ffffff);
    text-align:left;
    font-family:'Avenir';
    font-size:12;
    font-weight:normal;
   
    /*border-top-style: hidden;
    border-width: medium; 
    border-color: #FFFFFF; 
    border-bottom-style: hidden;*/
    
}
.commentdivInner
{
    padding-left:10px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 6px 6px 8px 6px #CFCFCF;
    width:98%;
    height:785px;
    linear-gradient(to bottom right,#EEEEEE, #ffffff, #ffffff, #EEEEEE);
    font-family:'Source Sans Pro', sans-serif;
     padding:10px 3px 3px 3px;
     overflow: scroll;
}
.GraphdivAlert
{
    
    width:100%;
    height:500px;
    float:left;
    linear-gradient(to bottom right,#ffffff, #ffffff);
    text-align:center;
    font-family:'Avenir';
    font-size:12;
    font-weight:normal;
    margin-left:20px;
    margin-top:20px;
   float:left;
    /*border-top-style: hidden;
    border-width: medium; 
    border-color: #FFFFFF; 
    border-bottom-style: hidden;*/
    
}
.GraphdivAlertInner
{
    padding-left:10px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 6px 6px 8px 6px #CFCFCF;
    width:96%;
    height:500px;
    linear-gradient(to bottom right,#EEEEEE, #ffffff, #ffffff, #EEEEEE);
    font-family:'Source Sans Pro', sans-serif;
     padding:10px 3px 3px 3px;
     text-align:center;
    
}
.Graphdiv
{
    
    width:100%;
    height:500px;
    float:left;
    linear-gradient(to bottom right,#ffffff, #ffffff);
    text-align:center;
    font-family:'Avenir';
    font-size:12;
    font-weight:normal;
    margin-left:20px;
    margin-top:20px;
   float:left;
    /*border-top-style: hidden;
    border-width: medium; 
    border-color: #FFFFFF; 
    border-bottom-style: hidden;*/
    
}
.GraphdivInner
{
    padding-left:10px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 6px 6px 8px 6px #CFCFCF;
    width:96%;
    height:500px;
    linear-gradient(to bottom right,#EEEEEE, #ffffff, #ffffff, #EEEEEE);
    font-family:'Source Sans Pro', sans-serif;
     padding:10px 3px 3px 3px;
     text-align:center;
    
}
.Devicediv
{
    width:9%;
    height:500px;
    float:left;
    linear-gradient(to bottom right,#ffffff, #ffffff);
    text-align:center;
    font-family:'Avenir';
    font-size:10;
    font-weight:normal;
   
}
.DevicedivInner
{
    padding-left:10px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 6px 6px 8px 6px #CFCFCF;
    width:98%;
    height:500px;
    linear-gradient(to bottom right,#EEEEEE, #ffffff, #ffffff, #EEEEEE);
    font-family:'Source Sans Pro', sans-serif;
     padding:10px 3px 3px 3px;
     text-align:left;
     font-size:10;
    
    
}
.commentdivgraphpage
{
    margin-top:40px;
    margin-left:20px;
    width:100%;
    height:auto;
    float:left;
    linear-gradient(to bottom right,#ffffff, #ffffff);
    text-align:left;
    font-family:'Avenir';
    font-size:12;
    font-weight:normal;
   clear:both;
    /*border-top-style: hidden;
    border-width: medium; 
    border-color: #FFFFFF; 
    border-bottom-style: hidden;*/
    
}
.commentdivgraphpageInner
{
    padding-left:10px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 6px 6px 8px 6px #CFCFCF;
    width:96%;
    height:300px;
    linear-gradient(to bottom right,#505ABE, #ffffff, #ffffff, #505ABE);
    font-family:'Source Sans Pro', sans-serif;
     padding:10px 3px 3px 3px;
     overflow: scroll;
}

.commentdivhomepage
{
    margin-top:30px;
    margin-left:20px;
    width:49.5%;
    height:auto;
    float:left;
    linear-gradient(to bottom right,#ffffff, #ffffff);
    text-align:left;
    font-family:'Avenir';
    font-size:12;
    font-weight:normal;
   
    /*border-top-style: hidden;
    border-width: medium; 
    border-color: #FFFFFF; 
    border-bottom-style: hidden;*/
    
}
.commentdivhomepageInner
{
    padding-left:10px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 6px 6px 8px 6px #CFCFCF;
    width:98%;
    height:326px;
    linear-gradient(to bottom right,#505ABE, #ffffff, #ffffff, #505ABE);
    font-family:'Source Sans Pro', sans-serif;
     padding:10px 3px 3px 3px;
     overflow: scroll;
}
.Headerdivhomepage
{
    margin-top:10px;
    margin-left:20px;
    width:100%;
    height:auto;
    float:left;
    linear-gradient(to bottom right,#ffffff, #ffffff);
    text-align:left;
    font-family:'Avenir';
    font-size:12;
    font-weight:normal;
   
    /*border-top-style: hidden;
    border-width: medium; 
    border-color: #FFFFFF; 
    border-bottom-style: hidden;*/
    
}
.HeaderdivhomepageInner
{
    padding-left:20px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 6px 6px 8px 6px #CFCFCF;
    width:97%;
    height:50px;
    text-align:left;
    linear-gradient(to bottom right,#505ABE, #ffffff, #ffffff, #505ABE);
    font-family:'Source Sans Pro', sans-serif;
     padding:10px 3px 3px 3px;
     
}
